body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.main {
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.head {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.greetingPhrase {
    font-size: 1.2em;
    color: #777;
}

.name {
    font-size: 2em;
    font-weight: bold;
}

.role {
    color: #555;
}

.languagesBox .title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.expBox .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.title-tools {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.figmaLogo, .aiLogo, .psLogo, .prLogo, .notionLogo, .meetLogo,
.zapierLogo, .framerLogo, .webFlowLogo, .wordPressLogo,
.gptLogo, .midjourneyLogo, .copilot {
    width: 40px;
    height: 40px;
}

.interestsTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.emailText {
    font-size: 1em;
    color: #0073e6;
}
